/**************************************************
* 自定义组件
***************************************************/

// ------------------------------------------------
// nprogress
// ------------------------------------------------
#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 2px;
    background-color: #3a71a8;
    opacity: 0.75;
  }
}

// 信息列表通用样式
ul.app-info-list {
  li {
    border-bottom: solid 1px var(--appColor-6);
    margin-bottom: 20px;
    padding: 0 10px 5px 10px;
    display: flex;
    flex-direction: column;

    & > label {
      color: var(--appColor-4);
      font-style: italic;
    }

    & > span {
      font-weight: bold;
    }
  }
}

// 带顶部文字描述的输入组件
.app-title-input {
  position: relative;
  .title {
    position: absolute;
    top: -10px;
    left: 5px;
    background-color: #ffffff;
    color: var(--appColor-5);
    font-style: italic;
    font-size: 0.8em;
    padding: 0 5px;
  }
}

// 弹出框居中
.el-dialog {
  border-radius: 6px;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*height:600px;*/
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  .el-dialog__header {
    padding: 15px;
  }
  .el-dialog__body {
    padding: 15px;
  }
}

// 表头样式
.el-table__header-wrapper {
  border-radius: 4px;
  .el-table__header {
    th.el-table__cell {
      background-color: var(--appColor-7);
    }
  }
}
