/**************************************************
* 暗黑模式 主要设置颜色，不涉及布局
***************************************************/

html.dark {
  // ------------------------------------------------
  --el-color-white: #000;
  --el-color-black: #fff;

  // ------------------------------------------------

  --appColor-9: #111827;
  --appColor-8: #1f2937;
  --appColor-7: #374151;
  --appColor-6: #4b5563;
  --appColor-5: #6b7280;
  --appColor-4: #9ca3af;
  --appColor-3: #d1d5db;
  --appColor-2: #e5e7eb;
  --appColor-1: #f3f4f6;
  --appColor-0: #f9fafb;

  --appTextColor: var(--appColor-4); // 字体颜色
  --appPanelBgColor: #181818; // 浮于背景上的面板色

  #appAside,
  ul.el-menu--popup {
    --appAsideTextColor: var(--appColor-4); // 侧边菜单字体色
    --appAsideTextColorHover: var(--el-color-black); // 侧边菜单字体hover色
    --appAsideBgColor: var(--appColor-8); // 侧边菜单背景色
    --appAsideSubBgColor: #2d2d2d; // 侧边菜单子菜单背景色
  }

  #appHeader {
    --appHeaderBgColor: var(--appPanelBgColor);
    --appHeaderStateBorderColor: var(--appColor-8);
    --appHeaderTabsBorderColor: var(--appColor-8);
  }

  .app-title-input {
    .title {
      background-color: var(--appPanelBgColor);
    }
  }

  // ------------------------------------------------

  --el-text-color-primary: var(--appTextColor);
  --el-text-color-regular: var(--appTextColor);
  --el-border-color-lighter: var(--appColor-7);
  --el-border-color-base: var(--appColor-5);
  --el-background-color-base: var(--appColor-5);

  .el-overlay {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .el-drawer {
    background-color: var(--appColor-9);
  }
  .el-drawer__header {
    color: var(--appColor-1);
  }
  .el-button--default {
    border-color: var(--appColor-6);
    background-color: var(--appColor-8);
    &:focus,
    &:hover {
      background-color: var(--appColor-7);
    }
  }
  .el-card__header {
    border-bottom-color: var(--appColor-6);
  }
  .el-table {
    --el-table-header-background-color: var(--appPanelBgColor);
    --el-table-tr-background-color: var(--appPanelBgColor);
    --el-table-row-hover-background-color: var(--appColor-7);
  }
  .el-tag {
    color: var(--el-tag-border-color);
    background-color: var(--el-tag-hover-color);
    border-color: var(--el-tag-hover-color);
  }
  .el-pagination.is-background {
    button,
    li {
      background-color: #000000;
    }
  }
  .el-loading-mask {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .el-select__popper.el-popper[role='tooltip'] {
    border-color: var(--appColor-7);
  }

  .el-input {
    --el-input-font-color: var(--appColor-1);
    --el-input-placeholder-color: var(--appColor-5);
  }
  .el-input__inner {
    background-color: var(--appPanelBgColor);
  }
  .el-input-group__prepend {
    background-color: #000000;
    border: var(--el-input-border, var(--el-border-base));
    border-right: unset;
  }
}
