@import './variables.module.scss';
@import './layout.scss';
@import './transition.scss';
@import './dark.scss';
@import './components.scss';

:root {
  --appColor-0: #111827;
  --appColor-1: #1f2937;
  --appColor-2: #374151;
  --appColor-3: #4b5563;
  --appColor-4: #6b7280;
  --appColor-5: #9ca3af;
  --appColor-6: #d1d5db;
  --appColor-7: #e5e7eb;
  --appColor-8: #f3f4f6;
  --appColor-9: #f9fafb;
}
