/**************************************************
* 框架布局
***************************************************/

@mixin h-full-noscroll() {
  height: 100vh;
  overflow: hidden;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

html {
  // 主色
  --appTextColor: var(--appColor-3);

  // 滚动条
  --appScrollBarColor: var(--appColor-5);
  --appScrollBarBgColor: var(--appColor-7);

  @include h-full-noscroll;
  font-size: 14px;
  color: var(--appTextColor);

  // ------------------------------------------------
  // 滚动条
  // ------------------------------------------------
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--appScrollBarColor);
  }
  *::-webkit-scrollbar-track {
    background-color: var(--appScrollBarBgColor);
  }
}

// ------------------------------------------------
// layout
// ------------------------------------------------
#appWrapper {
  @include h-full-noscroll;
  // 侧边菜单
  #appAside {
    @include h-full-noscroll;
    transition: width 300ms;
  }
  #appAside.fold {
    width: $sideMenuFoldWidth;
  }
  #appAside.expand {
    width: $sideMenuExpandWidth;
  }

  #appContainer {
    height: 100vh;
    overflow: auto;

    #appHeader {
      @mixin tools-position() {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
      }

      padding: unset;
      #appHeaderState {
        height: $appHeaderStateHeight;
        position: relative;
        display: flex;
        align-items: center;

        #appHeaderStateTools {
          @include tools-position;
        }
      }
      #appHaderTabs {
        height: $appHeaderTabsHeight;
        position: relative;

        #appHeaderTabsTools {
          @include tools-position;
        }
      }
    }

    #appMain {
      overflow: unset;
      padding: unset;
    }
  }

  // 固定头部
  #appContainer.headerfixed {
    overflow: unset;
    #appMain {
      overflow: auto;
    }
  }
}

// ------------------------------------------------
// 侧边菜单
// ------------------------------------------------
#appAside,
ul.el-menu--popup {
  --appAsideTextColor: var(--appColor-6); // 字体颜色
  --appAsideTextColorHover: var(--el-color-white); // 字体颜色 hover
  --appAsideBgColor: #001529; // 背景色
  --appAsideSubBgColor: #0c2135; // 展开背景色
  --appAsideBgColorHover: #08345e; // 背景色 hover
  --appMenuActiveBgColor: #0960bd; // 选中菜单色
}

#appAside {
  color: var(--appAsideTextColor);
  background: var(--appAsideBgColor);
}

#appAside > ul.el-menu {
  height: 100vh;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

#appAside > ul.el-menu,
ul.el-menu--popup {
  border: unset !important;
  background-color: var(--appAsideBgColor);

  svg {
    @include size(20px);
    display: inline-block;
    position: relative;
    left: -10px;
  }

  div.el-sub-menu__title,
  li.el-menu-item {
    // height: 50px;
    // line-height: 50px;
    display: flex;
    align-items: center;
    color: var(--appAsideTextColor);

    &:hover {
      background-color: var(--appAsideBgColorHover);
      color: var(--appAsideTextColorHover);
    }
  }

  ul.el-menu--inline {
    background-color: var(--appAsideSubBgColor);
    .el-menu-item {
      min-width: unset;
    }
  }

  li.el-menu-item.is-active {
    color: var(--appAsideTextColorHover);
    background-color: var(--appMenuActiveBgColor);
  }

  i.el-sub-menu__icon-arrow {
    color: var(--appAsideTextColor);
  }
}

#appAside > ul.el-menu--collapse {
  svg {
    left: 0; // 缩进侧边菜单时恢复定位，否则图标不居中
  }
}

// ------------------------------------------------
// 侧边菜单标题栏
// ------------------------------------------------
#appAsideTop {
  display: flex;
  align-items: center;
  height: $appHeaderStateHeight - 1px;
  img {
    @include size(30px);
    margin: 0 15px;
  }
  h1 {
    white-space: nowrap;
    color: white;
  }
}

// ------------------------------------------------
// header 导航栏
// ------------------------------------------------
#appHeader {
  --appHeaderBgColor: var(--appColor-9); // header 背景色
  --appHeaderStateBorderColor: var(--appColor-7); // 导航栏下边框
  --appHeaderTabsBorderColor: var(--appColor-7); // 分页栏下边框
  --appHeaderTabsColorActive: #0960bd; // 分页标签前景色 active
}

#appHeader {
  background-color: var(--appHeaderBgColor);
}

#appHeaderState {
  border-bottom: 1px solid var(--appHeaderStateBorderColor);

  .menu-toggle-icon {
    @include size(20px);
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }

  .el-breadcrumb {
    .el-breadcrumb__separator {
      color: var(--appTextColor);
    }
  }
}

ul#appHeaderStateTools {
  li {
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      @include size(20px);
      cursor: pointer;
    }
  }
}

// ------------------------------------------------
// header tab
// ------------------------------------------------
#appHaderTabs {
  border-bottom: 1px solid var(--appHeaderTabsBorderColor);

  .el-tabs__header {
    margin-left: 2px;
    margin-right: 80px; // 让出tools空位
  }
  .el-tabs__nav {
    z-index: unset;
  }
  .el-tabs__nav-wrap::after {
    content: none;
  }
  .el-tabs__active-bar,
  .el-tabs__content {
    display: none;
  }
  .el-tabs__nav-prev,
  .el-tabs__nav-next {
    line-height: $appHeaderTabsHeight;
  }
  .el-tabs__item {
    height: $appHeaderTabsHeight;
    line-height: $appHeaderTabsHeight;
    padding: unset;
    .item {
      color: var(--appColor-3);
      padding: 0 15px;
      margin: 2px;
      height: $appHeaderTabsHeight - 5px;
      line-height: $appHeaderTabsHeight - 5px;
      border: 1px solid var(--appHeaderTabsBorderColor);
      border-radius: 4px;
      font-size: 0.8em;
    }
    .item.closeable {
      padding-right: 5px;
      i {
        margin-left: 2px;
      }
    }
  }
  .el-tabs__item.is-active {
    .item {
      color: white;
      background-color: var(--appHeaderTabsColorActive);
      border-color: var(--appHeaderTabsColorActive);
    }
  }
}

.app-header-tabs-tools-item {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--appHeaderStateBorderColor);

  svg {
    @include size(20px);
    cursor: pointer;
  }
}
// ------------------------------------------------
// header tab menu
// ------------------------------------------------
ul.app-header-tab-menu {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--appColor-9);
  border-radius: 4px;
  font-size: 0.9em;
  li {
    cursor: pointer;
    padding: 5px 10px;
    i {
      margin-right: 10px;
    }
  }
  li:hover {
    background-color: var(--appColor-7);
  }
}
// ------------------------------------------------
// 主区域
// ------------------------------------------------
#appMain {
  background-color: var(--el-color-white);
}
